<h1 mat-dialog-title>Add JS Library <button class="close-btn" color="primary" mat-button
    (click)="onClose()">Save & Close</button></h1>
<mat-form-field class="example-full-width">
  <mat-label>JavaScript Preprocessor</mat-label>
  <mat-select [(value)]="mode">
    <mat-option value="None">
      None
    </mat-option>
    <mat-option value="Babel">
      Babel
    </mat-option>
    <!-- <mat-option value="TypeScript">
      TypeScript
    </mat-option> -->
  </mat-select>
</mat-form-field>
<div class="search-con">
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="searchWord" (input)="search()" placeholder="Search JS Files">
  </mat-form-field>
  <button mat-icon-button (click)="search()" class="path-search">
    <mat-icon>search</mat-icon>
  </button>
  <div class="search-result" *ngIf="searchResult && searchResult.length > 0">
    <div class="one-result" *ngFor="let item of searchResult" (click)="add(item.latest)">
      <span class="name">{{item.name}}</span>
      <span class="desc">{{item.description}}</span>
    </div>
  </div>
</div>
<div mat-dialog-content>
  <div *ngFor="let item of list; let i = index">
    <mat-form-field class="example-full-width">
      <input matInput [value]="item" class="path-view" (change)="updateItem(i, $event)">
    </mat-form-field>
    <button mat-icon-button (click)="remove(i)" class="path-action">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="add-more" (click)="addOneItem()">
    <button mat-icon-button class="path-action">
      <mat-icon>add</mat-icon>
    </button>
    Add Another Lib
  </div>
</div>
