.example-full-width {
  width: calc(100% - 40px);
}

.close-btn{
    float: right;
}

.search-con{
    position: relative;
}

.search-result {
    position: absolute;
    background: #212121;
    width: 100%;
    height: 400px;
    z-index: 100;
    color: #fff;
    top: 49px;
}

.mat-dialog-content{
    overflow: hidden !important;

    // .path-action{
    //     display: inline-block;
    //     width: 30px;
    //     height: 30px;
    //     line-height: 30px;
    // }
}

