<div class="container">
  <div class="header">
    <img class="logo" width="20px" height="20px" src="/code-online/assets/images/logo.png" alt="" />
    <mat-form-field class="header-title" [ngStyle]="{'width': titleWord.length * 8 + 'px'}">
      <input #title matInput [(ngModel)]="titleWord" [disabled]="!changeTitle" (blur)="disableTitle()"
        (input)="updateTitle()">
    </mat-form-field>
    <button *ngIf="!changeTitle" mat-icon-button class="edit" (click)="toggleTitle()">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="change-view" matTooltip="Change View">
      <mat-icon>remove_red_eye</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeView('top')" [disabled]="currentView === 'top'">
        <mat-icon class="top">table_chart</mat-icon>
        <span>Top to Bottom</span>
      </button>
      <button mat-menu-item (click)="changeView('left')" [disabled]="currentView === 'left'">
        <mat-icon class="left">table_chart</mat-icon>
        <span>Left to Right</span>
      </button>
      <button mat-menu-item (click)="changeView('right')" [disabled]="currentView === 'right'">
        <mat-icon class="right">table_chart</mat-icon>
        <span>Right to Left</span>
      </button>
    </mat-menu>

    <button mat-icon-button class="play" (click)="openNewTab()" matTooltip="View Full Screen">
      <mat-icon>personal_video</mat-icon>
    </button>

    <button mat-icon-button class="download" (click)="downloadSource()" matTooltip="Download Source Code">
      <mat-icon>cloud_download</mat-icon>
    </button>

    <button mat-icon-button class="git" matTooltip="View Git Hub" (click)="goToGit()">
      <img width="20px" height="20px" src="/code-online/assets/images/git_logo.png" alt="" />
    </button>
  </div>

  <div *ngIf="currentView === 'top'" class="split-con" style="height: calc(100% - 50px);">
    <as-split direction="vertical" (dragStart)="showIframeHider = true" (dragEnd)="showIframeHider = false">
      <as-split-area size="50">
        <as-split direction="horizontal">
          <as-split-area size="33">
            <div class="code-con">
              <div class="title">
                <button class="format-icon" mat-icon-button (click)="formatHtml()" matTooltip="Format">
                  <mat-icon>format_line_spacing</mat-icon>
                </button>HTML</div>
              <div #html class="code">
              </div>
            </div>
          </as-split-area>
          <as-split-area size="33">
            <div class="code-con">
              <div class="title">
                <button mat-icon-button (click)="openCssDialog()">
                  <mat-icon>settings</mat-icon>
                </button>
                <button class="format-icon" mat-icon-button (click)="formatCss()" matTooltip="Format">
                  <mat-icon>format_line_spacing</mat-icon>
                </button>
                <span #cssTitle>CSS <span class="js-title">{{cssMode !== 'None' ? ' ('+cssMode+')' : ''}}</span></span>
              </div>
              <div #css class="code">
              </div>
            </div>
          </as-split-area>
          <as-split-area size="34">
            <div class="code-con">
              <div class="title">
                <button mat-icon-button (click)="openJSDialog()">
                  <mat-icon>settings</mat-icon>
                </button>
                <button class="format-icon" mat-icon-button (click)="formatJs()" matTooltip="Format">
                  <mat-icon>format_line_spacing</mat-icon>
                </button>
                <button class="uncomment-icon" mat-icon-button (click)="unCommentJs()" matTooltip="Uncomment">
                  <mat-icon>code</mat-icon>
                </button>
                <button class="comment-icon" mat-icon-button (click)="commentJs()" matTooltip="Comment">
                  <mat-icon>settings_ethernet</mat-icon>
                </button>
                <span #jsTitle>JS <span class="js-title">{{mode === 'Babel' ? ' (Babel)' : ''}}</span></span>
              </div>
              <div #js class="code">
              </div>
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>
      <as-split-area size="50">
        <div class="preview-parent-top">
          <iframe id="previewIframe-top" frameborder="0" #preview width="100%" height="100%"></iframe>
          <div [hidden]="showIframeHider === false" class="hack-iframe-hider"></div>
        </div>
      </as-split-area>
    </as-split>
  </div>

  <div *ngIf="currentView === 'left'" class="split-con" style="height: calc(100% - 50px);">
    <as-split direction="horizontal" (dragStart)="showIframeHider = true" (dragEnd)="showIframeHider = false">
      <as-split-area size="50">
        <as-split direction="vertical">
          <as-split-area size="33">
            <div class="code-con">
              <div class="title">
                <button class="format-icon" mat-icon-button (click)="formatHtml()" matTooltip="Format">
                  <mat-icon>format_line_spacing</mat-icon>
                </button>HTML
              </div>
              <div #html class="code">
              </div>
            </div>
          </as-split-area>
          <as-split-area size="33">
            <div class="code-con">
              <div class="title">
                <button mat-icon-button (click)="openCssDialog()">
                  <mat-icon>settings</mat-icon>
                </button>
                <button class="format-icon" mat-icon-button (click)="formatCss()" matTooltip="Format">
                  <mat-icon>format_line_spacing</mat-icon>
                </button>
                <span #cssTitle>CSS <span class="js-title">{{cssMode !== 'None' ? ' ('+cssMode+')' : ''}}</span></span>
              </div>
              <div #css class="code">
              </div>
            </div>
          </as-split-area>
          <as-split-area size="34">
            <div class="code-con">
              <div class="title">
                <button mat-icon-button (click)="openJSDialog()">
                  <mat-icon>settings</mat-icon>
                </button>
                <button class="format-icon" mat-icon-button (click)="formatJs()" matTooltip="Format">
                  <mat-icon>format_line_spacing</mat-icon>
                </button>
                <button class="uncomment-icon" mat-icon-button (click)="unCommentJs()" matTooltip="Uncomment">
                  <mat-icon>code</mat-icon>
                </button>
                <button class="comment-icon" mat-icon-button (click)="commentJs()" matTooltip="Comment">
                  <mat-icon>settings_ethernet</mat-icon>
                </button>
                <span #jsTitle>JS <span class="js-title">{{mode === 'Babel' ? ' (Babel)' : ''}}</span></span>
              </div>
              <div #js class="code">
              </div>
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>
      <as-split-area size="50">
        <div class="preview-parent-left">
          <iframe id="previewIframe-left" frameborder="0" #preview width="100%" height="100%"></iframe>
          <div [hidden]="showIframeHider === false" class="hack-iframe-hider"></div>
        </div>
      </as-split-area>
    </as-split>
  </div>

  <div *ngIf="currentView === 'right'" class="split-con" style="height: calc(100% - 50px);">
    <as-split direction="horizontal" (dragStart)="showIframeHider = true" (dragEnd)="showIframeHider = false">
      <as-split-area size="50">
        <div class="preview-parent-right">
          <iframe id="previewIframe-right" frameborder="0" #preview width="100%" height="100%"></iframe>
          <div [hidden]="showIframeHider === false" class="hack-iframe-hider"></div>
        </div>
      </as-split-area>
      <as-split-area size="50">
        <as-split direction="vertical">
          <as-split-area size="33">
            <div class="code-con">
              <div class="title">
                <button class="format-icon" mat-icon-button (click)="formatHtml()" matTooltip="Format">
                  <mat-icon>format_line_spacing</mat-icon>
                </button>HTML
              </div>
              <div #html class="code">
              </div>
            </div>
          </as-split-area>
          <as-split-area size="33">
            <div class="code-con">
              <div class="title">
                <button mat-icon-button (click)="openCssDialog()">
                  <mat-icon>settings</mat-icon>
                </button>
                <button class="format-icon" mat-icon-button (click)="formatCss()" matTooltip="Format">
                  <mat-icon>format_line_spacing</mat-icon>
                </button>
                <span #cssTitle>CSS <span class="js-title">{{cssMode !== 'None' ? ' ('+cssMode+')' : ''}}</span></span>
              </div>
              <div #css class="code">
              </div>
            </div>
          </as-split-area>
          <as-split-area size="34">
            <div class="code-con">
              <div class="title">
                <button mat-icon-button (click)="openJSDialog()">
                  <mat-icon>settings</mat-icon>
                </button>
                <button class="format-icon" mat-icon-button (click)="formatJs()" matTooltip="Format">
                  <mat-icon>format_line_spacing</mat-icon>
                </button>
                <button class="uncomment-icon" mat-icon-button (click)="unCommentJs()" matTooltip="Uncomment">
                  <mat-icon>code</mat-icon>
                </button>
                <button class="comment-icon" mat-icon-button (click)="commentJs()" matTooltip="Comment">
                  <mat-icon>settings_ethernet</mat-icon>
                </button>
                <span #jsTitle>JS <span class="js-title">{{mode === 'Babel' ? ' (Babel)' : ''}}</span></span>
              </div>
              <div #js class="code">
              </div>
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>
    </as-split>
  </div>
</div>
