<div class="container">
  <div class="split-example" style="height: 100%;">
    <as-split direction="vertical">
      <as-split-area size="50">
        <as-split direction="horizontal">
          <as-split-area size="33">
            HTML
          </as-split-area>
          <as-split-area size="33">
            CSS
          </as-split-area>
          <as-split-area size="34">
            Javascript
          </as-split-area>
        </as-split>
      </as-split-area>
      <as-split-area size="50">
        Preview
      </as-split-area>
    </as-split>
  </div>
</div>
