.container{
    width: 100%;
    height: 100%;

    .console-con{
        width: 100%;
        height: 100%;
        overflow: hidden;

        .console-title {
            position: absolute;
            top: 0;
            /* z-index: 10000; */
            height: 30px !important;
            width: 100%;
            background: #313131;
            line-height: 30px;
            color: #b5b5b5;
            padding-left: 10px;
            font-family: monospace;
            font-size: 16px;
        }
    }

    

    #output {
        width: 100%;
        height: calc(100% - 30px);
        background: #3e3e3e;
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: 30px;

        .output-log{
            height: 25px;
            line-height: 25px;
            background: #6d6d6d;
            color: #c3c3c3;
            padding-left: 10px;
        }

        .output-warn{
            height: 25px;
            line-height: 25px;
            background: #6d6d6d;
            color: #c3c3c3;
            padding-left: 10px;
        }

        .output-error{
            height: 25px;
            line-height: 25px;
            background: #6d6d6d;
            color: #c3c3c3;
            padding-left: 10px;
        }
    }

    .format-icon{
        position: absolute;
        right: 10px;
    }

    .uncomment-icon{
        position: absolute;
        right: 40px;
    }

    .comment-icon{
        position: absolute;
        right: 70px;
    }

    .js-title{
        font-size: 12px;
    }

    .mat-icon{
        font-size: 20px;
    }

    .mat-icon-button {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .code-con{
        width: 100%;
        height: 100%;
    }

    @media only screen and (max-width: 740px) {
        .title .format-icon{
            display: none !important;
        }
        .title .uncomment-icon{
            display: none !important;
        }
        .title .comment-icon{
            display: none !important;
        }
      }

    .code{
        height: calc(100% - 30px);
        width: calc(100% - 10px);
        font-size: 15px;
        padding: 0 5px;
        background: #272822;
        cursor: text;
        position: relative;
    }

    .title {
        height: 30px;
        line-height: 30px;
        color: #b5b5b5;
        padding-left: 10px;
        background: #313131;
        display: flex;
        font-family: monospace;
        font-size: 16px;
        font-weight: 100;
    }

    .as-split-area > div {
        position: relative;
        height: 100%;
        overflow: hidden;
    }

    .hack-iframe-hider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .header{
        width: 100%;
        height: 50px;
        background: #3e3e3e;
        display: flex;
        align-items: center;

        .change-view{
            color: #fff;
            position: absolute;
            right: 150px;
        }

        .play{
            color: #fff;
            position: absolute;
            right: 110px;
        }

        .download{
            color: #fff;
            position: absolute;
            right: 70px;
        }

        .git{
            color: #fff;
            position: absolute;
            right: 30px;
            width: 30px;
            height: 30px;
        }

        
        mat-form-field{
            height: 55px;
        }

        @media only screen and (max-width: 740px) {
            .header-title{
                max-width: 60px !important;
            }
          }

        .header-title{
            color: #fff;
            min-width: 80px;
        }

        input:disabled{
            color: #fff !important;
            font-size: 18px;
        }

        input{
            font-size: 18px;
        }

        .edit{
            color: #fff;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            cursor: pointer;
        }

        .logo{
            color: #fff;
            width: 30px;
            height: 30px;
            line-height: 50px;
            text-align: center;
            margin: 10px;
            cursor: pointer;
        }
    }
    
    ::ng-deep .as-split-gutter{
        background: #4e4e4e !important;
        box-shadow: 0 0 2px #212121;
    }

    ::ng-deep .as-split-gutter-icon{
        background-image: none !important;
    }
}


.top.mat-icon{
    transform: rotate(180deg);
}

.left.mat-icon{
    transform: rotate(90deg);
}

.right.mat-icon{
    transform: rotate(-90deg);
}


    

    
        
    
    
        
