.container{
    width: 100%;
    height: 100%;

    .mat-icon{
        font-size: 20px;
    }

    .mat-icon-button {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .code-con{
        width: 100%;
        height: 100%;
    }

    .code{
        height: calc(100% - 30px);
        width: calc(100% - 10px);
        font-size: 15px;
        padding: 0 5px;
        background: #212121;
        cursor: text;
    }

    .title {
        height: 30px;
        line-height: 30px;
        color: #fff;
        padding-left: 10px;
        background: #313131;
        display: flex;
    }

    .as-split-area > div {
        position: relative;
        height: 100%;
        overflow: hidden;
    }

    .hack-iframe-hider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .header{
        width: 100%;
        height: 50px;
        background: #3e3e3e;
    }
    
    ::ng-deep .as-split-gutter{
        background: #696969 !important;
        // border: 1px solid #212121;
        box-shadow: 0 0 2px #212121;
    }

    ::ng-deep .as-split-gutter-icon{
        background-image: none !important;
    }
}


    

    
        
    
    
        
