<div class="container">
  <div class="header">
    <img class="logo" width="20px" height="20px" src="/code-online/assets/images/logo.png" alt="" />

    <span class="title">CODE ONLINE</span>

    <div class="search-con">
      <div class="search">
        <input type="text" [value]="filter" placeholder="Search Pens" (change)="searchPens($event)" />
      </div>
      <div class="search-icon">
        <mat-icon>search</mat-icon>
      </div>
    </div>

    <button mat-icon-button class="new-pen" (click)="newPen()" matTooltip="Create a New Pen">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-icon-button class="praise" (click)="showPraise()" matTooltip="Praise Author">
      <mat-icon>thumb_up</mat-icon>
    </button>

    <button mat-icon-button class="git" matTooltip="View Git Hub" (click)="goToGit()">
      <img width="20px" height="20px" src="/code-online/assets/images/git_logo.png" alt="" />
    </button>
  </div>

  <div class="content">

    <div class="line">
      Picked Pens
    </div>

    <div class="pen-con">
      <div class="pen-panel" *ngFor="let item of currentList; let i = index">
        <a class="link" routerLink="/pen" (click)="openPen(item.id)" (contextmenu)="openPen(item.id)"></a>
        <div class="iframe-con">
          <iframe [id]="'preview-iframe' + item.id" frameborder="0" width="100%" height="100%"></iframe>
        </div>
        <div class="desc-con">
          <img [src]="'/code-online/assets/images/' + item.logo" alt="" class="logo" width="40px" height="40px">
          <span class="title">{{item['code-online-title']}}</span>
          <span class="name">{{item.author}}</span>
          <button mat-icon-button class="fullscreen" (click)="openNewTab(item.id)" matTooltip="View Full Screen">
            <mat-icon>personal_video</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination">
    <div class="pre" (click)="prevPage()" *ngIf="!firstPage">
      <mat-icon>keyboard_arrow_left</mat-icon> Prev
    </div>
    <div class="next" (click)="nextPage()" *ngIf="!lastPage">
      Next <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
  </div>

  <footer>
    <span class="author">Powered by &copy; Pomelo</span>
    <span class="qq">QQ: 1075220132</span>
    <span class="mail">QQ Mail: 1075220132@qq.com</span>
    <span class="mail2">Gmail Mail: liangrenhong2017@gmail.com</span>
  </footer>

</div>
