.container {
  width: 100%;
  min-height: 100%;
  background: #272822;

  @media only screen and (max-width: 740px) {
    footer>span {
      width: 100% !important;
      border-right: none !important;
      text-align: left;
      padding-left: 20px;
    }
  }

  footer {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    background: #3e3e3e;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &>span {
      border-right: 1px solid rgb(199, 199, 199);
      margin-right: 10px;
      padding-right: 10px;
    }

    &>span:last-child {
      border-right: none;
    }

    .author {
      color: rgb(199, 199, 199);
      font-size: 12px;
    }

    .qq {
      color: rgb(199, 199, 199);
      font-size: 12px;
    }

    .mail {
      color: rgb(199, 199, 199);
      font-size: 12px;
    }

    .mail2 {
      color: rgb(199, 199, 199);
      font-size: 12px;
    }
  }

  .pagination {
    height: 60px;
    display: flex;
    width: 100%;
    justify-content: center;

    .pre {
      width: 80px;
      height: 38px;
      border: 3px solid #6e6e6e;
      border-radius: 5px;
      display: flex;
      cursor: pointer;
      color: #fff;
      align-items: center;
      justify-content: center;

      &:hover {
        background: #fff;
        color: #272822;
        border: 3px solid #fff;
      }
    }

    .next {
      width: 80px;
      height: 38px;
      border: 3px solid #6e6e6e;
      border-radius: 5px;
      margin-left: 20px;
      display: flex;
      cursor: pointer;
      color: #fff;
      align-items: center;
      justify-content: center;

      &:hover {
        background: #fff;
        color: #272822;
        border: 3px solid #fff;
      }
    }
  }

  .content {
    width: 95%;
    padding: 10px 0px;
    background: #272822;
    padding-bottom: 20px;
    max-width: 1194px;
    margin: 50px auto;
    min-height: 600px;


    .line {
      border-bottom: 4px solid #3f51b5;
      width: 100%;
      font-size: 35px;
      font-family: monospace;
      font-weight: bold;
      color: #fff;
      margin-top: 20px;
    }

    @media only screen and (max-width: 740px) {
      .pen-con {
        justify-content: center !important;
      }
    }

    .pen-con {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;

      .pen-panel {
        width: 350px;
        height: 250px;
        margin-top: 20px;
        background: #3e3e3e;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 0px 10px #0000005c;
        transition: all .5s;

        &:hover{
          transform: scale(1.05);
          box-shadow: 0px 0px 10px #0000005c;
        }

        a.link {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 111;
          display: inline-block;
          width: 100%;
          height: calc(100% - 50px);
          cursor: pointer;
        }

        .iframe-con {
          height: calc(100% - 50px);
          width: 100%;
          background: #fff;
          border-radius: 5px 5px 0 0;
          overflow: hidden;
        }

        .desc-con {
          height: 50px;
          position: relative;

          .fullscreen {
            position: absolute;
            right: 10px;
            top: 4px;
            color: #fff;
          }

          .logo {
            position: absolute;
            left: 5px;
            top: 5px;
            border-radius: 5px;
          }

          .title {
            position: absolute;
            left: 55px;
            top: 5px;
            color: #fff;
            font-size: 16px;
          }

          .name {
            position: absolute;
            left: 55px;
            top: 27px;
            color: #9e9e9e;
            font-size: 13px;
          }
        }
      }
    }
  }

  .header {
    width: 100%;
    height: 50px;
    background: #3e3e3e;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;

    @media only screen and (max-width: 740px) {
      .search-con {
        width: 40% !important;
      }
    }

    .search-con {
      width: 250px;
      position: absolute;
      right: 150px;
      justify-content: center;
      top: 10px;

      .search {
        width: 100%;
        overflow: hidden;
      }

      input {
        font-size: 14px;
        color: #fff !important;
        height: 30px;
        border-radius: 5px;
        background: #272822;
        padding-left: 50px;
        border: none;
        outline: none;
        width: calc(100% - 50px);
      }

      .search-icon {
        position: absolute;
        left: 0;
        top: 4px;
        left: 10px;
        color: #fff;
      }
    }

    .praise {
      position: absolute;
      right: 70px;
      color: #fff;

      mat-icon{
        font-size: 18px !important;
        color: #ff6161 !important;
      }
    }

    .new-pen {
      position: absolute;
      right: 110px;
      color: #fff;
    }

    .mat-icon-button {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }

    @media only screen and (max-width: 740px) {
      .title {
        display: none !important;
      }
    }

    .title {
      color: #fff;
      font-size: 23px;
      position: absolute;
      left: 10px;
      /* top: 0; */
      letter-spacing: 7px;
    }

    .change-view {
      color: #fff;
      position: absolute;
      right: 150px;
    }

    .play {
      color: #fff;
      position: absolute;
      right: 110px;
    }

    .download {
      color: #fff;
      position: absolute;
      right: 70px;
    }

    .git {
      color: #fff;
      position: absolute;
      right: 30px;
      width: 30px;
      height: 30px;
    }


    mat-form-field {
      height: 55px;
    }

    .header-title {
      color: #fff;
      min-width: 80px;
    }

    input:disabled {
      color: #fff !important;
      font-size: 18px;
    }

    input {
      font-size: 18px;
    }

    .edit {
      color: #fff;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
    }

    .logo {
      color: #fff;
      width: 25px;
      height: 25px;
      line-height: 50px;
      text-align: center;
      margin: 10px;
      position: absolute;
      left: 18px;
      top: 2px;
      z-index: 1000;
      word-spacing: 2em;
    }
  }
}
