<div class="container">
  <div class="header">
    <img class="logo" width="20px" height="20px" src="/code-online/assets/images/logo.png" alt="" />


    <span class="title">Code Online</span>

    <button mat-icon-button class="new-pen" (click)="newPen()" matTooltip="Create a New Pen">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-icon-button class="git" matTooltip="View Git Hub" (click)="goToGit()">
      <img width="20px" height="20px" src="/code-online/assets/images/git_logo.png" alt="" />
    </button>
  </div>

  <div class="content">
    <div class="example-full-width">
      <div class="search">
        <input type="text" placeholder="Search Pens" (change)="searchPens($event)"/>
      </div>
      <div class="search-icon">
        <mat-icon>search</mat-icon>
      </div>
    </div>
    <div class="line">
        Picked Pens
    </div>

    <div class="pen-con">
        <div class="pen-panel" *ngFor="let item of list; let i = index">
            <a class="link" routerLink="/pen" (click)="openPen(i)" (contextmenu)="openPen(i)"></a>
            <div class="iframe-con">
              <iframe [id]="'preview-iframe' + i" frameborder="0" width="100%" height="100%"></iframe>
            </div>
            <div class="desc-con">
              <img [src]="'/code-online/assets/images/' + item.logo" alt="" class="logo" width="40px" height="40px">
              <span class="title">{{item['code-online-title']}}</span>
              <span class="name">{{item.author}}</span>
            </div>
        </div>
    </div>
  </div>


</div>
